.body {
  font-family: $font-roboto, $font-logo-raleway, sans-serif;
  background: $main-background-color;
  color: $primary-font-color;
}

@media screen and (min-width: 320px) {
  .body {
    overflow-x: hidden;
  }
}
