.buttons-filter-division {
  padding-bottom: 40px;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 480px;

  &__list {
    list-style-type: none;
    display: grid;
    grid-template-columns: 103px 128px 145px;
    gap: 8px;
    margin-block: 0px;
    padding-left: 0px;
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 420px) {
  .buttons-filter-division {
    justify-content: center;
    max-width: 95vw;

    &__list {
      grid-area: 95vw;
      grid-template-columns: 103px 103px;
      justify-content: center;
    }
  }
}

@media screen and (min-width: 768px) {
  .buttons-filter-division {
    padding-bottom: 30px;
    justify-content: center;
    margin: 0 auto;

    &__list {
      display: grid;
      grid-template-columns: 109px 128px 145px 103px 130px;
      justify-content: center;
      gap: 6px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .buttons-filter-division {
    padding-bottom: 34px;
    justify-content: center;
    margin: 0 auto;

    &__list {
      display: grid;
      grid-template-columns: 121px 93px 114px 91px 121px;
      justify-content: center;
      gap: 8px;
    }
  }
}
