.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: space-around;
}

@media screen and (min-width: 1200px) {
  .footer-wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 70px;
  }
}
