.footer {
  background: $footer-background-color-dark;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 769px) {
  .footer {
    background: $footer-background-color-dark;
    padding-top: 60px;
    padding-bottom: 51px;
  }
}
