.footer-division {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (min-width: 1200px) {
  .footer-division {
    display: flex;
    flex-direction: column;
  }
}
