.header {
  border-bottom: 1px solid $header-border-bottom-color;
  padding-block: 10px;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .header {
    padding-block: 21px;
  }
}

@media screen and (min-width: 769px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
