.img-gallery-with-descriptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  list-style: none;
  margin: 0px;
  padding: 0px;

  &__container {
    position: relative;
    overflow: hidden;
  }

  &__img {
    display: block;
  }

  &__title {
    color: $light-font-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    position: absolute;
    bottom: 0px;
    padding-block: 27px;
    width: 100%;
    margin: 0px;
    background: rgba(47, 48, 58, 0.8);
  }
}
