.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  scale: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
