.logo-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0px;

  &__link {
    font-family: $font-logo-raleway;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    vertical-align: middle;
    color: $brand-color-black;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $hovered-activated-accent-color;
      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__static-part {
    color: $brand-color-accent;
  }

  &--enlarged-space-in-header {
    margin-left: 0px;
    margin-right: 0px;
  }

  &--change-in-footer {
    color: $light-font-color;
  }
}

@media screen and (min-width: 1200px) {
  .logo-container {
    justify-content: flex-start;
    margin: 0;

    &--enlarged-space-in-header {
      flex-grow: 0.21;
      margin: 0;
    }

    &__link {
      font-size: 26px;
      line-height: 1.19;
    }
  }
}
