.logo {
  font-family: $font-logo-raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  vertical-align: middle;
  color: $brand-color-black;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &__static-part {
    color: $brand-color-accent;
  }

  &:hover,
  &:focus {
    color: $hovered-activated-accent-color;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &--enlarged-space-in-header {
    flex-grow: 0.21;
  }

  &--change-color-in-footer {
    color: $light-font-color;
  }
}
