.modal {
  position: absolute;
  width: 450px;
  height: 609px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: $main-background-color;
  opacity: inherit;
  visibility: inherit;
  scale: inherit;
  transition-property: visibility, scale, border, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &__container {
    box-sizing: border-box;
    padding: 40px 40px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 479px) {
  .modal {
    max-width: 92vw;
    min-height: fit-content;

    &__container {
      box-sizing: border-box;
      padding: 10% 8.3% 8.3% 8.3%;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
