.nav {
  display: flex;
  // width: 282px;
  flex-grow: 0.8;

  &__list {
    display: flex;
    // flex-grow: 0.5;
    list-style-type: none;
    // justify-content: space-between;
    // max-width: 282px;
    gap: 60px;
    padding-left: 0px;
    padding-block: 0px;
    margin-block: 0px;
  }

  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $primary-font-color;
    transition-property: color, background, border, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $hovered-activated-accent-color;
      fill: $hovered-activated-accent-color;
      transition-property: color, background, border, fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &--current:visited {
      color: $hovered-activated-accent-color;
      position: relative;
    }
    &--current::after {
      content: '';
      position: relative;
      display: block;
      top: 29px;
      border-bottom: 4px solid $hovered-activated-accent-color;
      border-radius: 2px;
    }
  }
}

@media (max-width: 480px) {
  .nav {
    display: none;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .nav {
    display: flex;
    flex-grow: 0.6;

    &__list {
      display: flex;
      list-style-type: none;
      gap: 60px;
      padding-left: 0px;
      padding-block: 0px;
      margin-block: 0px;
    }

    &__link {
      font-size: 14px;
      line-height: 1.14;
    }
  }
}

@media screen and (min-width: 769px) {
  .nav {
    display: flex;
    flex-grow: 0.8;
    // max-width: 254px;

    &__list {
      display: flex;
      // justify-content: space-between;
      list-style-type: none;
      gap: 46px;
      padding-left: 0px;
      padding-block: 0px;
      margin-block: 0px;
    }

    &__link {
      font-size: 14px;
      line-height: 1.14;
    }
  }
}
