.newsletter-division {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  max-width: 450px;

  &__header {
    display: flex;
    justify-content: center;
    font-family: $font-roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    color: $light-font-color;
  }

  &__form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px;
    margin-block: 0px;
    margin-right: 0px;
    align-items: flex-end;
  }

  &__label {
    display: flex;
    flex-direction: row;
    font-family: $font-roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px;
    color: $light-font-color;
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: $brand-color-white;
    margin-left: 24px;
  }

  &__input {
    width: 93.75vw;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;
    padding-left: 16px;
    padding-block: 15px;
    color: $light-font-color;
    margin: 0px;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border: 1px solid $hovered-activated-accent-color;
      transition-property: border;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

@media screen and (min-width: 480px) {
  .newsletter-division {
    &__input {
      width: 450px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .newsletter-division {
    max-width: 590px;
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 8px;

    &__header {
      display: inline;
      margin: 0px;
      padding-top: 5px;
      padding-bottom: 20px;
      color: $light-font-color;
    }

    &__form {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 12px;
      padding: 0px;
      margin-block: 0px;
      margin-right: 0px;
    }

    &__label {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 20px;
      padding-top: 0px;
      padding-bottom: 0px;
      color: $light-font-color;
    }

    &__input {
      width: 358px;
    }
  }
}
