.portfolio-cards-division {
  display: flex;
  justify-content: center;

  &__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0px;
    margin: 0px auto;
    flex-wrap: wrap;
  }

  &__list-element {
    max-width: 450px;
    max-height: 404px;

    &:hover,
    &:focus-within,
    &:hover .portfolio-card__box-overlay,
    &:focus-within .portfolio-card__box-overlay {
      cursor: pointer;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
      transform: translateX(0);
      transition-property: transform, box-shadow;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

@media screen and (min-width: 768px) {
  .portfolio-cards-division {
    &__list {
      display: grid;
      grid-template-columns: 354px 354px;
      gap: 30px;
    }
    &__list-element {
      max-width: 354px;
      max-height: 440px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-cards-division {
    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
    }
    &__list-element {
      max-width: 370px;
      max-height: 440px;
    }
  }
}
