.portfolio-card {
  &__box-img {
    width: 93.75vw;
    max-height: 61.25vw;
    object-fit: cover;
    display: block;
  }

  &__animated-box {
    display: block;
    max-height: 100%;
    max-width: 100%;
    border-radius: 0px;
    position: relative;
    overflow: hidden;
  }

  &__box-overlay {
    position: absolute;
    padding: 8% 9% 8% 10%;
    margin: 0px;
    background: $background-filtered-hover-content;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__box-overlay-description {
    font-weight: 400;
    font-size: 4.5vw;
    line-height: 1.555;
    padding: 0px;
    margin: 0px;
    letter-spacing: 0.03em;
    color: $light-font-color;
  }

  &__project-name {
    font-size: 3.75vw;
    line-height: 2;
    letter-spacing: 0.06em;
    padding: 20px 24px 4px 24px;
    margin-block: 0px;
  }

  &__project-type {
    font-size: 3.33vw;
    line-height: 1.875;
    letter-spacing: 0.03em;
    padding: 0px 24px 20px 24px;
    margin-block: 0px;
  }
}

@media screen and (min-width: 480px) {
  .portfolio-card {
    &__box-img {
      width: 450px;
      max-height: 294px;
    }
    &__box-overlay {
      padding: 77px 24px 77px 24px;
    }
    &__box-overlay-description {
      font-size: 18px;
    }
    &__project-name {
      font-size: 18px;
      padding: 20px 24px 4px 24px;
    }
    &__project-type {
      font-size: 16px;
      padding: 0px 24px 20px 24px;
    }
  }
}
@media screen and (min-width: 768px) {
  .portfolio-card {
    &__box-img {
      width: 354px;
    }
    &__box-overlay {
      padding: 49px 24px 49px 24px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-card {
    &__box-img {
      width: 370px;
    }
    &__box-overlay {
      padding: 49px 45px 49px 24px;
    }
  }
}
