.section-subjects {
  display: none;
  background-color: inherit;

  &__header {
    text-align: center;
    font-size: 36px;
    line-height: 1.167;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
    margin-block: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .section-subjects {
    display: block;
  }
}
