.section-team {
  background: $accents-background-color-gray;

  &__header {
    text-align: center;
    font-size: 28px;
    line-height: 1, 178;
    letter-spacing: 0.03em;
    padding-top: 0px;
    padding-bottom: 30px;
    margin-block: 0px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    list-style-type: none;
    margin-block: 0px;
    padding-left: 0px;
  }
}

@media screen and (min-width: 769px) {
  .section-team__header {
    font-size: 36px;
    line-height: 1.167;
    padding-bottom: 50px;
  }
}
