// colors palette
$brand-color-accent: #2196f3;
$hovered-activated-accent-color: #2196f3;
$footer-background-color-dark: #2f303a;
$accents-background-color-gray: #f5f4fa;
$main-background-color: #fff;
$light-font-color: #fff;
$secondary-accent-color: #757575;
$primary-font-color: #212121;
$brand-color-black: #000;
$brand-color-white: #fff;
$header-border-bottom-color: #ececec;
$socials-icon-main-color: #afb1b8;
$customers-section-accent-color: #afb1b8;
$footer-icons-background-color: rgba(255, 255, 255, 0.1);
$backdrop-background-color: rgba(0, 0, 0, 0.2);
$comment-placeholder-color: rgba(117, 117, 117, 0.5);
$background-filtered-description: #eee;
$background-filtered-hover-content: rgba(33, 150, 243, 0.9);

// fonts palette
$font-roboto: 'Roboto';
$font-logo-raleway: 'Raleway';
